<% if flash[:error] %>
  <div class="alert alert-solid-success alert-bold" role="alert">
    <p class=" mt-3 alert alert-danger"><%= flash[:error].each { |n| puts "#{n.to_s}" } %></p>
  </div>
<% end %>
<div class='text-center p-3'>
<h1>Add New Category</h1>
</div>


<div class="form-signin p-3">
  <%= form_with model: @group do |form| %>
    <%= form.text_field :name, required: true, autofocus: true, class: ' mb-3 form-control', id: "name", autocomplete: "Category name", placeholder: "Category name" %>
    <%= form.text_field :icon, required: true, class: ' mb-3 form-control', id: "icon", autocomplete: "icon", placeholder: "icon link" %>
    <%= form.submit "Save", class: 'w-100 mb-3  btn btn-md btn-success', id: 'submit' %>
  <% end %>
</div>