<% if flash[:error] %>
  <div class="alert alert-solid-success alert-bold" role="alert">
    <p class=" mt-3 alert alert-danger"><%= flash[:error].each { |n| puts "#{n.to_s}" } %></p>
  </div>
<% end %>
<div class='text-center p-3'>
<h1>Add New Transaction</h1>
</div>


<div class="form-signin p-3">
  <%= form_with model: @trans do |form| %>
    <%= form.text_field :name, required: true, autofocus: true, class: ' mb-3 form-control', id: "name", autocomplete: "Transaction name", placeholder: "Transaction name" %>
    <%= form.number_field :icon, required: true, class: ' mb-3 form-control', id: "Transaction", autocomplete: "Transaction", placeholder: "Transaction Amount" %>
    <%= form.label :list, "Select at least 1 category (ctrl+click for multiple)" %>
    <%= form.select :group_id, Group.order(:name).pluck(:name, :id), {}, {:multiple => true,required:true,id: "list", :class => "form-select mb-3" } %>
    <%= form.submit "Save", class: 'w-100 mb-3  btn btn-md btn-success', id: 'submit' %>
  <% end %>
</div>